<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <style>
        body {
            background-color: white;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px 0;
        }

        h1 {
            font-size: 36px;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
            margin: 20px;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Privacy Policy</h1>
    </header>
    <div class="container">
        <p>


            <!-- <h1>Privacy Policy</h1> -->
            Privacy Policy for Quiz
            <br />
            <br />
            Last Updated: 14-10-2023
            <br />
            <br />
            At Quiz, we respect your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our mobile application and website (collectively referred to as the "App").
            <br/>
            <br/>
            <br/>
            
            1. Information We Collect<br/>
            
            1.1. Personal Information: When you use our App, we may collect the following personal information:<br/>
            
            Contact Information: such as your first name,last name, email address, phone number, and delivery address.<br/>
            Account Information: including your phone and password.<br/>
            Payment Information: if you make purchases through our App, you have to pay cash on delivery.<br/>
            Transaction Data: details about the orders you place, including order history and payment records(Amount by COD).<br/>
            <br/>
            1.2. Usage Information: We may collect information about how you use the App, including your interactions with the App,  device information, and location data if you provide permission.<br/> We are using location data to calculate if you are within the delivery range and  to get accourate delivery location.
            <br/>
            1.3. Cookies and Similar Technologies: We may use cookies and similar technologies to collect information about your browsing and usage patterns. You can control cookies through your browser settings.
            <br/>
            2. How We Use Your Information
            
            We use your personal information for various purposes, including:<br/>
            
            To process and fulfill your orders.<br/>
            To provide customer support and respond to your inquiries.<br/>
            To send you transaction notifications, updates, and promotional materials.<br/>
            To improve and personalize the App's content and functionality.<br/>
            To detect and prevent fraud, security breaches, and misuse of the App.<br/>
            To comply with legal obligations and enforce our Terms and Conditions.<br/>
            <br/>
            <br/>
            <br/>
            
            3. Sharing Your Information
            
            We may share your information with:<br/>
            
            Delivery partners and service providers to fulfill your orders.<br/>
            Third-party vendors for payment processing( To collect COD order amount ).<br/>
            Legal authorities and regulatory bodies if required by law.<br/>
            <br/>
            <br/>
            <br/>
            4. Data Security
            
            We take reasonable measures to protect your information from unauthorized access, disclosure, alteration, or destruction. However, no data transmission over the internet is completely secure. Please take appropriate precautions to protect your personal information.
            <br/>
            <br/>
            <br/>
            5. Your Choices
            
            You can access, correct, or delete your personal information by contacting us using the contact information provided in Section 7. You may also opt out of receiving promotional communications from us by following the instructions in those communications.
            <br/>
            <br/>
            <br/>
            6. Children's Privacy
            
            The App is not intended for children under the age of 13. We do not knowingly collect or solicit personal information from children. If you are a parent or guardian and believe that your child has provided us with their personal information, please contact us, and we will delete the information.
            <br/>
            <br/>
            <br/>
            7. Contact Information
            
            If you have questions, concerns, or requests regarding this Privacy Policy or your personal information, please contact us:<br/>
            
            Phone: 44344343434<br/>
            Email: example@gmail.com<br/>
            Address: 116, Tirupati vihar, Manyawas , Rajat path,  Mansarover, Jaipur, 302020,<br/>
            <br/>
            <br/>
            <br/>
            8. Changes to this Privacy Policy
            
            We may update this Privacy Policy from time to time to reflect changes in our practices or for legal and regulatory reasons. We will post any revised Privacy Policy on our App, and the updated version will be effective when it is posted.
            
            Please review this Privacy Policy periodically to stay informed about how we collect, use, and protect your personal information.
        </p>
    </div>
</body>
</html>